.idea/
.envrc
secrets.go
/.idea/
/sparkle
*~
.git-old

/localblocks
/localdata
/localirr
/localrpccache
/step*-v*
/stepcsvs
/exported
/entities
/csvs
.DS_Store

/deploy/subgraph
/deploy/exchange

rpc-cache
localblocks
dist/
/erc20-rust/Cargo.lock
/erc20-rust/target/
